.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  font-size: 1.5vw;
  font-weight: bold;
}

input[type=submit] {
  color: #f05223;
  border: 0;
  background-color: white;
  font-size: 1.25vw;
  border-radius: 5px;
  padding: .5vw;
}

input[type=submit]:hover {
  background-color: #f58c6c;
  color: white;
}

input[type=text] {
  background-color: transparent;
  border: 0;
}

input[type=number] {
  background-color: transparent;
  color:#f58c6c;
  border: 0;
}

input[type=number]:hover {
  background-color: #f58c6c;
  color: white;
  border: 0;
}

button {
  color: #f05223;
  border: 0;
  background-color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #f58c6c;
  color: white;
}


